@{
    ViewBag.Title = "Cookie Manager";
}

<h2>Cookie Manager</h2>

<script>
    var opts = {
        method: 'GET',
        headers: {}
    };
    fetch('/CookieManager/Index', opts).then(function (response) {
        return response.json();
    })
    .then(function (body) {
      //doSomething with body;
    });
</script>