@{
    ViewBag.Title = "Cookie Manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cookie Manager</h2>

<button id="createCookie">Set Cookie</button>
<button id="getCookie">Get Cookie</button>
<button id="deleteCookie">Delete Cookie</button>
<script>
    $("#createCookie").click(() => {
        $.ajax({
            type: "post",
            url: "/cookiemanager/createCookie",
            success: (response) => {
                console.log(response)
            }
        })
    })

    $("#getCookie").click(() => {
        $.ajax({
            type: "get",
            url: "/cookiemanager/getCookie",
            success: (response) => {
                console.log(response)
            }
        })
    })

    $("#deleteCookie").click(() => {
        $.ajax({
            type: "post",
            url: "/cookiemanager/deleteCookie",
            success: (response) => {
                console.log(response)
            }
        })
    })

</script>