SportsStore.WebUI/bin/
SportsStore.WebUI/obj/
SportsStore.UnitTests/obj/
SportsStore.UnitTests/bin/
SportsStore.Domain/obj/
SportsStore.Domain/bin/
.vs/
UrlsAndRoutes/obj/
UrlsAndRoutes/bin/
UrlsAndRoutes.Tests/obj/
UrlsAndRoutes.Tests/bin/
packages/
ControllersAndActions.Tests/bin/
ControllersAndActions/bin/
ControllersAndActions/obj/
ControllersAndActions.Tests/obj/
Filters/bin/
Filters/obj/
HelperMethods/bin/
HelperMethods/obj/
MvcModels/bin/
MvcModels/obj/
ModelValidation/bin/
ModelValidation/obj/
ClientFeatures/bin/
ClientFeatures/obj/
WebServices/bin/
WebServices/obj/
Views/obj/
