@*@using SportsStore.WebUI.HtmlHelpers
    No need because it is added in web.config
*@
@using SportsStore.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>